<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring.security">
<head th:replace="layout/layout :: head">
</head>

<header th:replace="layout/layout :: header"></header>

<body>

	<div class="container py-4">

		<div class="card bg-light">

			<div class="card-header" th:text="#{text.ver.detalle.producto}"></div>
			<div class="card-body">
			<a th:href="@{'/../listar-productos'}"
						class="btn btn-warning btn-xs" th:text="#{text.button.regresar}"></a>

				<ul class="list-group py-2">
					<li class="list-group-item" th:text="#{text.cliente.nombre} + ' : ' + ${producto.nombre}"></li>
					<li class="list-group-item" th:text="#{text.factura.form.item.precio} + ' : ' + ${producto.precio}"></li>
					<li class="list-group-item" th:text="'Stock: ' + ${producto.stock}"></li>
					<li class="list-group-item" th:text="#{text.cliente.factura.fecha} + ' : ' + ${producto.createAt}"></li>
				</ul>


			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>